extends ../../layouts/page

append config
  - var pageTitle = 'Ethereum'

block content
  main(grid='rows' vertically-distributed='equal' horizontally-distributed='space-between')
    +primary-nav(true, 'Ethereum')
    
    section.balance(grid='rows' vertically-aligned='center' horizontally-aligned='center')
      h2 Balance
      h3#account-balance 4.5306
      small#diff.positive $3,977.96

    section.currencies
      h4 Transactions
      .currency-list
        a.currency-list-item(grid vertically-aligned='center')
          include ../../svg/add
          .tally
            p Bought Ethereum
            p Citibank *****3518
          .tally
            p.positive 0.6 ETH
            p $50

        a.currency-list-item(grid vertically-aligned='center')
          include ../../svg/add
          .tally
            p Bought Ethereum
            p Citibank *****3518
          .tally
            p.positive 0.12 ETH
            p $100

        a.currency-list-item(grid vertically-aligned='center')
          include ../../svg/remove
          .tally
            p Sold Ethereum
            p Citibank *****3518
          .tally
            p.negative -0.9 
            p $75 ETH

    section.actions
      button(primary block) Sell
      a(href='/buy/' rel='preload')
        button(primary block) Buy
