//- Add to homescreen for Safari on iOS
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='default')
//- meta(name='apple-mobile-web-app-title' content='Coinsafe')
link(rel='apple-touch-icon' href='/assets/apple-touch-icon.png')
//- link(rel='apple-touch-startup-image' href='/assets/iphonePlus-splash.png' media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)')
//- link(rel='apple-touch-startup-image' href='/assets/iphoneX-splash.png' media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)')
//- link(rel='apple-touch-startup-image' href='/assets/iphone-splash.png')

link(href='/assets/iphone6_splash.png' media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/assets/iphoneplus_splash.png' media='(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')
link(href='/assets/iphonex_splash.png' media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')
link(href='/assets/iphonexr_splash.png' media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)' rel='apple-touch-startup-image')
link(href='/assets/iphonexsmax_splash.png' media='(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)' rel='apple-touch-startup-image')

//- Safari Pin Tab Styles
//- link(rel='icon' sizes='any' mask href='/safari-pinned-tab.svg')
