extends ../../layouts/page

append config
  - var pageTitle = 'Buy Crypto'

block content
  main
    +primary-nav(true, 'Buy Ethereum')
    
    section.balance(grid='rows' vertically-aligned='center' horizontally-aligned='center')
      h2 ETH
      input#coin(inputmode='numeric' placeholder=0)
      input#amount(type='range' min='1' max='20' value='1' step='1')

    section.action
      a(href='/preview/' rel='preload')
        button(primary block) Review & Confirm
