main {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto;
  align-content: space-between;

  &.full {
    grid-column: span 2;
  }

  @media(max-width:720px) {
    grid-column: span 2;
  }
}