svg.ethereum(version='1.1', xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 1024 1024')
  path(d='M509.611 766.72l-314.197-185.6 314.155 442.88 314.453-442.88-314.411 185.6zM514.389 0l-314.283 521.515 314.24 185.771 314.24-185.6-314.197-521.685z')
