.actions, .action {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.action {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}